body {
  font-family: Arial,sans-serif;
  margin: 0;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, 
a:focus {
	color: #3397db;
	text-decoration: none;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
}
#footer {
  background-color: rgb(44, 44, 44);
  color: #fff;
  font-size: 8pt;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  will-change: transform;
}
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  will-change: transform;
}
nav h1 {
  margin: 0;
  padding: 25px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
}
#map {
  height: 400px;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}
.filter-options {
  width: 100%;
  background-color: #2471a5;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  margin: 0 20px;
  padding-top: 10px;
}
.filter-options select {
  margin: 10px;
  padding: 7px;
  width: 200px;
  will-change: transform;
}
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 15px;
  width: calc((100% - 100px)/3);
  border-radius: 10px;
  text-align: center;
  will-change: transform;
}
.restaurant-img {
  width: 100%;
  height: 225px;
  min-height: 225px;
  border-radius: 10px 10px 0 0;
  display: block;
  will-change: transform;
}
#restaurants-list li h2 {
  color: #8a4b00;
  font-size: 14pt;
  font-weight: 200;
  margin:0.5em;
  text-transform: uppercase;
}
#restaurants-list li a {
  background-color: #8a4b00;
  color: #fff;
  display: inline-block;
  margin:0.5em;
  padding: 8px 30px 10px;
  text-transform: uppercase;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #fff;
  color: #8a4b00;
  font-weight: bolder;
  outline: 2px solid #8a4b00;
}
#restaurants-list li p {
  margin:0.5em;
}
  
@media screen and (max-width:360px) {
  .filter-options select {
    width: 150px !important;
  }
}
@media screen and (max-width:462px) {
  nav h1 a {
    font-size: 11pt;
    letter-spacing: 0.5em;
   }
   .filter-options select {
     width: 165px;
 }
 #restaurants-list li {
  min-width: calc(100% - 30px); 
 }
}
@media screen and (min-width:463px) and (max-width:960px) { 
  #restaurants-list li {
    width: calc((100% - 65px)/2);
  }
}